<footer class="main-footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h3>futzio.com</h3>
            <p>Hayalinizdeki takımı kurun ve stratejilerinizi belirleyin!</p>
        </div>
        <div class="footer-section links">
            <h3>Hızlı Linkler</h3>
            <ul>
                <li><a href="index.html">Ana Sayfa</a></li>
                <li><a href="kadro-kur.html">Kadro Kur</a></li>
                <li><a href="hali-saha.html">Halı Saha</a></li>
            </ul>
        </div>
        <div class="footer-section social">
            <h3>Bizi Takip Edin</h3>
            <div class="social-icons">
                <a href="https://www.facebook.com/futzio/" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="https://x.com/futziocom" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/futziocom/" aria-label="Instagram"><i
                        class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; futzio.com 2025. Tüm Hakları Saklıdır.</p>
    </div>
</footer>